argcomplete
Brotli
Cerberus
cffi
cfgv
click
colorama
commonmark
cssselect2
distlib
filelock
fonttools
html5lib
identify
Jinja2
MarkupSafe
nodeenv
Pillow
platformdirs
pre-commit
pycparser
pydyf
Pygments
pyphen
PyYAML
rich
six
tinycss2
tomlkit
typing-extensions
virtualenv
weasyprint
webencodings
xmltodict
yaml-resume
yq
zopfli
gobject